.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Sidebar {
  width: fit-content;
  height: auto;
  position: relative;
  text-align: center;
  min-width: 100px;
  float: left;
}

.bm-menu {
  background: #474437;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

.iconmenu {
  display: "flex";
  align-items: "center";
  flex-wrap: wrap;
}

.modalContent::-webkit-scrollbar {
  width: 0px;
}

.modalContent::-webkit-scrollbar-track {
  background: black; /* Make the scrollbar track invisible */
}

.modalContent::-webkit-scrollbar-thumb {
  background: #ffca28; /* Make the scrollbar thumb invisible */
  border-radius: 6px;
  border: 3px solid transparent;
  background-clip: content-box;
  width: 2px;
}

.loader {
  color: black;
  font-family: sans-serif;
  height: 5vh;
  left: 50%;
  overflow-x: hidden;
  padding-top: 7vh;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  &:before {
    animation: left-to-right 3s alternate infinite linear;
    background-image: linear-gradient(
      to right,
      transparent,
      #ffca28,
      transparent
    );
    bottom: 0;
    content: "";
    height: 5vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
  &:after {
    background-image: repeating-linear-gradient(
      90deg,
      white,
      white 1vw,
      transparent 1vw,
      transparent 10vw
    );
    content: "";
    height: 5vh;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
  }
}

@keyframes left-to-right {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #e1e2e6 inset !important;
}
